.heading-subtitle {
  font-family: 'Space Mono';
  font-size: 0.875rem;
  color: #6245e0;
}
.heading-subtitle-dark {
  color: #c6beed;
}

.btn-hover-grow {
  transition: all 0.2s ease-in-out;
}
.btn-hover-grow:hover {
  transform: scale(1.1);
}
