:root {
  --global-padding: 2vw;
}

.global-x-padding {
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}
.global-left-padding {
  padding-left: var(--global-padding);
}
.global-right-padding {
  padding-right: var(--global-padding);
}

// .btn-hover-grow {
//   transition: all 0.2s ease-in-out;
// }
// .btn-hover-grow:hover {
//   transform: scale(1.1);
// }

.heading-subtitle {
  font-family: 'Space Mono';
  font-size: 0.875rem;
  color: #6245e0;
}
@media #{map-get($display-breakpoints, 'sm-and-down')} {
  .heading-subtitle {
    font-size: 0.75rem;
  }
}
.heading-subtitle-dark {
  color: #c6beed;
}
